<h1>Add a New Book</h1>
<form action="/books" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title"/>
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" name="author" />
    <label for="img_Url">Book Image Url</label>
    <input type="url" class="form-control" id="img_Url" name="img_Url" />
    <label for="rating">Book Rating</label>
    <input type="text" class="form-control" id="rating" name="rating" />
    
</div>
<h3>Select Book Type Genre</h3>
<table class="table">
  <tr class="d-flex"> 
  <th class="col-sm-3"> Book Type </th>
  <th class="col-sm-3"> Book Genre </th>
  </tr>
  <% categories.forEach(category=> { %>
 <tr class="d-flex"> 
<td class ="col-sm-3">
  <label for="<%=category.book_type %>"><%= category.book_type%></label>
      <input type="checkbox" value="">
    </label>
  </td>
  <td class ="col-sm-3">
    <label for="<%=category.genre %>"><%=category.genre%></label>
      <input type="checkbox" value="">
    </label>
  </td>
  </tr>

    <% })%>
  </table>
  <!-- <!<button type="submit" class="btn btn-primary">Submit</button> -->
  <input type="submit" value="Add Book" class="button" />
</form>
