.breadcrumb {
  background-color: rgb(14, 206, 206);
}

.navbar-brand {
  background-color: tomato;
  font-style: italic;
  color: white;
}
.navbar-collapse {
  background-color: tomato;
  font-style: italic;
  color: white;
}
body {
  font: white;
  background-color: lightblue;
}
.navbar navbar-expand {
  color: white;
}
.button {
  display: block;
  width: 150px;
  height: 40px;
  background: #4e9caf;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
}
ol.c {
  list-style-type: upper-roman;
}
h1 {
  font-style: oblique;
  color: rgb(14, 123, 218);
}
span {
  background-color: bisque;
}
