<h1>Create New Category</h1>
<form action="/categories" method="POST">
  <div class="form-group">
    <label for="book_type">Book Type</label>
    <input type="text" class="form-control" id="book_type" name="book_type"/>
    <label for="genre">Genre</label>
    <input type="text" class="form-control" id="genre" name="genre"/>
  </div>
  <button type="submit" class="btn btn-primary">Add Category</button>
</form>